/* Element Variables */

// Override Element UI variables
$--color-primary: #1890ff;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

// Apply overrided variables in Element UI
@import "~element-ui/packages/theme-chalk/src/index";

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  theme: $--color-primary;
}
